@font-face {
    font-family: "Lufga", sans-serif;
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/LufgaMedium.woff2") format("woff2");
}
@font-face {
    font-family: "Lufga",sans-serif;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/LufgaRegular.woff2") format("woff2");
}
@font-face {
    font-family: "Lufga";
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/LufgaLight.woff2") format("woff2");
}
@font-face {
    font-family: "Lufga";
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/LufgaSemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "Lufga";
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/LufgaExtraBold.woff2") format("woff2");
}

